<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AjustarPagamentos.Properties.Settings.connACP" connectionString="Data Source=windowsd;Initial Catalog=CASADOPASTOR_DB;Persist Security Info=True;User ID=sa;Password=passwd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>